{% extends "communities/participants_form.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Start Meeting" %}
{% endblock %}

{% block form_name %}
<div class="meeting-form-bg"></div>
{% endblock %}

{% block wide_header %}wide-header{% endblock %}

{% block participants_list %} {% endblock %}  
{% block btn_text %}{% trans "Start Meeting" %}{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script>
        $(function() {
            $('.participants-body-form').show();
        });
    </script>
{% endblock %}   

