{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
    {% trans "Close update" %}
    {% else %}
    {% trans "Close meeting" %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="alerts">
        {% if no_participants %}
            <p>{% trans 'No participants selected for meeting' %}!</p>
        {% endif %}
    </div>

    {% with issues_ready_to_close as issues %}
        {% for field in form %}
            {% if field.html_name == 'me' or field.html_name == 'all_members' %}
                <div class="checkbox">
                    <ul>
                        <li>
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}">
                                <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                                {{ field.label }}
                            </label>
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            {% else %}
                {{ field.errors }}
                {% if not field.html_name == 'send_to' %}
                    {{ field.label_tag }}
                {% endif %}
                    {% if field.html_name == 'held_at' %}
                        <div class="controls field-{{ field.html_name }}">{{ field }}</div>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        <label>{% trans 'Send mail to' %}:</label>
                    {% else %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endif %}
            {% endif %}
        {% endfor %}
    {% endwith %}

     <div class="alerts">
        <p><b>{% trans "Please note, editing the meeting's information is not possible after close" %}!</b></p>
     </div>
{% endblock %}

{% block nofooter %}
<div class="modal-footer">
	<button type="button" class="btn btn-info pull-left" data-toggle="collapse" data-target="#protocolPreview">
        {% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
        {% trans "Preview details" %}
        {% else %}
        {% trans "Preview protocol" %}
        {% endif %}
	</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
    {% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
    <input type="submit" class="btn btn-oc" value="{% trans 'Close update' %}">
    {% else %}
    <input type="submit" class="btn btn-oc" value="{% trans 'Close meeting' %}">
    {% endif %}
	<div id="protocolPreview" class="collapse">
		<button type="button" class="btn btn-default hidden-print protocol-print-btn" onclick="printProtocol();">
  			<span class="glyphicon glyphicon-print"></span>
            {% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
            {% trans "Print details" %}
            {% else %}
            {% trans "Print protocol" %}
            {% endif %}
		</button>
		<div id="protocolPreviewContent"></div>
	</div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
	$.ajax({
		url : "protocol-preview/",
		success : function(result) {
			$("#protocolPreviewContent").html(result);
		}
	});
</script>
{% endblock %}
